<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$>
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content="pandoc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    $for(author-meta)$
    <meta name="author" content="$author-meta$" />
    $endfor$
    $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$" />
    $endif$
    $if(keywords)$
    <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
    $endif$
    $if(description-meta)$
    <meta name="description" content="$description-meta$" />
    $endif$
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    <style>
    $styles.html()$
    </style>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$
    $for(header-includes)$
    $header-includes$
    $endfor$
    $if(math)$
    $math$
    $endif$
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  </head>
  <body class="gallery mx-auto">
    $for(include-before)$
    $include-before$
    $endfor$
    $if(toc)$
    <nav id="$idprefix$TOC" role="doc-toc">
      $if(toc-title)$
      <h2 id="$idprefix$toc-title">$toc-title$</h2>
      $endif$
      $table-of-contents$
    </nav>
    $endif$
    $if(title)$
    <header class="title-block-header">
      <!-- <p class="p-80 pb-3 fw-500"><a href="/templates/" class="text-decoration-none"><i class="bi bi-chevron-left"></i> Back to Templates</a></p> -->
      <h1 class="title d-inline me-3 fw-600 mb-1">$title$</h1>
      $if(author)$
      <p class="gallery-meta author d-inline me-3">$author$</p>
      $endif$
      <span class="d-block pt-2 pb-4">
        $if(authorurl)$
        <a href="$authorurl$" class="gallery-meta secondary no-icon" target="_blank"><i class="pe-1 bi bi-person-circle"></i> About the Author</a>
        $endif$
        $if(appurl)$
        <a href="$appurl$" class="gallery-meta secondary no-icon" target="_blank"><i class="pe-1 bi bi-display"></i> View App</a>
        $endif$
        $if(sourceurl)$
        <a href="$sourceurl$" class="gallery-meta secondary no-icon" target="_blank"><i class="pe-1 bi bi-code-slash"></i> View Code on GitHub</a>
        $endif$
        $if(shinylive)$
        <a href="$shinylive$" class="gallery-meta secondary no-icon" target="_blank"><i class="pe-1 bi bi-cloud"></i> Edit in Shinylive</a>
        $endif$
      </span>
      $if(subtitle)$
      <p class="subtitle">$subtitle$</p>
      $endif$
      $for(author)$
    </header>
    $endfor$
    $if(abstract)$
    <div class="abstract">
      <div class="abstract-title">$abstract-title$</div>
      $abstract$
    </div>
    $endif$
  $endif$
  $body$
  $if(appurl)$

  <div class="$if(quarto-column-size)$  $quarto-column-size$  $else$ column-screen-inset $endif$ pt-2">
    <div class="shiny-app-frame position-static px-0">
      <iframe src="$appurl$" style="height:$if(app-height)$  $app-height$  $else$ 800px $endif$;" class="border $if(iframe-classes)$  $iframe-classes$ $endif$ ">
      </iframe>
    </div>
  </div>

  $endif$
  $for(include-after)$
  $include-after$
  $endfor$
</body>
</html>
