/* Remove space at top of list page */

#quarto-content>* {
  padding-top: 0px;
  margin-top: 0px;
}

/* List page background colors */
 
#quarto-content {
  background: linear-gradient(175deg,
  rgba(248, 248, 248, 1),
  rgba(116, 20, 156, .04), /* purple */
  rgba(75, 0, 193, .05), /* indigo */
  rgba(193, 0, 0, .05) /* red */
  100%);
}

/* Shinylive styling for list page */

.shinylive-container.viewer {
  min-width: 190px !important;
}

div.shinylive-wrapper {
  margin: 0;
}

div.sourceCode,
pre.console {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

div.output-content,
div.shinylive-wrapper {
  background-color: rgba(250, 250, 250, 1);
  border: 0px;
  border-radius: 10px;
  box-shadow: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.shinylive-container,
.app-frame,
.shinylive-container>div {
  border-radius: 10px;
}