
::: {.grid}
<% for (const item of items) { %>
```{=html}
<div class="g-col-md-4 g-col-sm-6 g-col-12 component-list-column">
  <a class="component-list-header-text" href="<%= item.path %>/" target="_blank">
    <div class="component-list-header">
      <div class="h5"><%= item.title %></div>
      <div class="component-list-icon">
        <p class="my-0"><i class="component-link-icon dark bi fst-normal"></i></p>
      </div>
    </div>
    <div class="component-list-card layout-list-card">
      <p class="layout-list-image my-0">
        <img src="<%= item.path %>/thumbnail.png">
      </p>
    </div>
  </a>
</div>
```
<% } %>
:::
