.ipynb_checkpoints
/.quarto/
*.quarto_ipynb
/venv/
/pypi-tmp/
/pypi/
/_build/
.DS_Store

/.luarc.json
__pycache__/
.Rproj.user
.Rhistory

/_inv/
/objects.json

.venv/
__pycache__/

components/static/
.claude/

**/*.quarto_ipynb
