
.homepage-code pre > code.sourceCode > span {
  color: white;
  font-size: 1.5em;
  white-space: normal;
}

@media only screen and (max-width: 768px) {
  .homepage-code pre > code.sourceCode > span {
  font-size: 1.2em;
  }
}

.homepage-code pre > code span.op {
  color: white;
}

.homepage-code p {
  font-size: 1.35em;
}

.homepage-code p a {
  text-decoration: underline !important;
  margin-left: 1px;
  margin-right: 1px;
}

.homepage-code p a:hover {
  opacity: .85;
  border-bottom: 1px solid transparent;
}

@media only screen and (max-width: 768px) {
  .homepage-code p {
    font-size: 1.15em;
  }
}

.big-number-container {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px;
}


.big-number {
    font-size: 52px;
    font-weight: 700;
    display: inline-block;
    padding-right: 6px;
    opacity: .95;
}

@media only screen and (max-width: 768px) {
  .big-number {
    font-size: 34px;
  }
}

div.homepage-code {
  display: inline-block !important;
  align-self: center;
}

.homepage-code .code-copy-button>.bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255, 255, 255, 0.85)" viewBox="0 0 16 16"><path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/><path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/></svg>')
}
.homepage-code .code-copy-button-checked>.bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(255, 255, 255)" viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg>')
}

.homepage-code .code-copy-button:hover>.bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(235, 235, 235)" viewBox="0 0 16 16"><path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/><path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/></svg>')
}

.homepage-code .code-copy-button-checked:hover>.bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(235, 235, 235)"  viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg>')
}

.homepage-code .code-copy-button {
    top: 8px;
}

.homepage-code > div > .sourceCode:has(.code-copy-button:hover) {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    transition: all 150ms ease-in;
}




.homepage-code code.sourceCode, pre.console code {
    padding-right: 2rem;
}

.homepage-code div.sourceCode, .homepage-code pre.console {
  background-color: inherit;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: .25rem;
  color: white;
}
