/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-- scss:defaults --*/
$link-color: #007bc2;
$text-muted: #6a737b;

$blue: #007bc2;
$indigo: #4b00c1;
$purple: #74149c;
$pink: #bf007f;
$red: #c10000;
$orange: #f45100;
$yellow: #f9b928;
$green: #00891a;
$teal: #00bf7f;
$cyan: #03c7e8;
$white: #ffffff;
$gray: #606060;
$gray-dark: #303030;
$gray-100: #f8f8f8;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #cdd4da;
$gray-500: #adb5bd;
$gray-600: #7c7c7c;
$gray-700: #606060;
$gray-800: #404040;
$gray-900: #202020;
$default: #dee2e6;
$primary: #007bc2;
$secondary: #404040;
$success: #00891a;
$info: #03c7e8;
$warning: #f9b928;
$danger: #c10000;
$light: #f8f8f8;
$dark: #212529;
$default-rgb: 222, 226, 230;
$primary-rgb: 0, 123, 194;
$secondary-rgb: 64, 64, 64;
$success-rgb: 0, 137, 26;
$info-rgb: 3, 199, 232;
$warning-rgb: 249, 185, 40;
$danger-rgb: 193, 0, 0;
$light-rgb: 248, 248, 248;
$dark-rgb: 32, 32, 32;
$white-rgb: 255, 255, 255;
$black-rgb: 0, 0, 0;
$body-color-rgb: 32, 32, 32;
$body-bg-rgb: 255, 255, 255;
$font-family-sans-serif: "Open Sans", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco,
  Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.15),
  rgba(255, 255, 255, 0)
);
$root-font-size: 18px;
$body-font-family: "Open Sans", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.6;
$body-color: #212529;
$body-bg: #ffffff;
$hr-margin-y: 2rem;
$input-btn-font-size: 15px;
$btn-font-weight: 500;
$btn-padding-y: 0.75em;
$btn-padding-x: 2em;
$h1-font-size: 2.1rem;



// Form controls
$form-check-input-width: 1.2em !default;
$form-check-input-border-radius: 2px !default;
$form-check-margin-bottom: 0.25rem !default;
$form-text-color: $gray-600 !default;

// Borders
$input-border-color: $gray-500 !default;
$border-radius: 3px !default;
// Defaults to $gray700, of which we've set to a blueish-gray, which looks a bit weird...
// We could go forward with the blue-ish gray, but if we do, we'll want to also make
// $border-color-translucent-dark a bit more blueish
$border-color-dark: #495057 !default;

// Tables
$table-striped-bg: rgba($primary, 0.06) !default;
$table-hover-bg: rgba($primary, 0.1) !default;
$table-striped-order: even !default;

// Box Shadows
$box-shadow:
  0px 1px 2px rgba(29, 31, 33,.1),
  0px 3px 7px rgba(29, 31, 33,.1),
  0px 12px 30px rgba(29, 31, 33,.08) !default;

$box-shadow-sm: 
  0px 1px 2px rgba(29,31,33,.1), 
  0px 2px 3px rgba(29,31,33,.1), 
  0px 3px 8px rgba(29,31,33,.08) !default;

  
// A shiny-preset-specific variable, hoping Bootstrap adds something like this
$box-shadow-dark:
  0px 1px 2px rgba(0, 0, 0,.1),
  0px 3px 7px rgba(0, 0, 0,.1),
  0px 12px 30px rgba(0, 0, 0,.08) !default;

$card-border-radius: 8px !default;




/*-- scss:rules --*/

// color classes


.purple {
  color: #74149c !important;
}
.blue {
  color: #007bc2 !important;
}
.indigo {
  color: #4b00c1 !important;
}
.purple {
  color: #74149c !important;
}
.pink {
  color: #bf007f !important;
}
.red {
  color: #c10000 !important;
}
.orange {
  color: #f45100 !important;
}
.yellow {
  color: #f9b928 !important;
}
.green {
  color: #00891a !important;
}
.teal {
  color: #00bf7f !important;
}
.cyan {
  color: #03c7e8 !important;
}
.white {
  color: #ffffff !important;
}
.dark {
  color: $gray-900 !important;
}


// Original pyshiny-site css

a {
  color: var(--bs-blue);
}

p {
  margin-top: 1rem;
}

/* Typography */

body {
  font-size: 0.95em;
  -webkit-font-smoothing: antialiased;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: none;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.3;
}

h1,
.h1 {
  font-size: 2.7em;
  line-height: 1.15;
  margin-bottom: 30px !important;
}

.h2,
h2 {
  font-size: 2.25em;
}

.h3,
h3 {
  font-size: 1.825em;
}

.h4,
h4 {
  font-size: 1.5em;
}

h5,
.h5 {
  font-size: 1.2em;
}

.h6,
h6 {
  font-size: 0.9em;
  font-weight: 700;
}

code {
  color: inherit;
  font-size: 80%;
  padding: 4px 0;
}

.sidebar nav#TOC ul {
  font-weight: 400;
}

/* Spacing Bits */

hr {
  margin: 2rem 0;
}

/* Callouts */

div.callout-note.callout {
  border-left-color: #007bc2;
}

div.callout-note.callout-style-default .callout-header {
  background-color: #cce7f8;
}

div.callout-tip.callout {
  border-left-color: #008471;
}

div.callout-tip.callout-style-default .callout-header {
  background-color: #cce6e3;
}

div.callout-warning.callout {
  border-left-color: #fdcb3b;
}

div.callout-warning.callout-style-default .callout-header {
  background-color: #fff5d8;
}

div.callout-caution.callout {
  border-left-color: #c2202e;
}

div.callout-caution.callout-style-default .callout-header {
  background-color: #f3d1d4;
}

div.callout-important.callout {
  border-left-color: #fc9628;
}

div.callout-important.callout-style-default .callout-header {
  background-color: #fc9628;
}

/* Navs */
.navbar {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
}

// sidebar styling
// sidebar icon placement

.sidebar-subtitle + strong  {
  margin-left: 7px;
}
@media only screen and (max-width:991px) {
  .menu-text img, .breadcrumb-item img {
    display: none;
  }
}

@media only screen and (min-width:992px) {

  .sidebar-menu-container .sidebar-icon {
    margin-top: 0px;
    padding-right: 3px;
    margin-left: -22px;
    top: 2px;
    position: relative;
  }
  .sidebar-section {
    padding-left: 5px;
    line-height: 20px;
  }
  .sidebar-navigation a {
    color: $gray-800;
  }
  .sidebar-subtitle {
    margin-top: 1.5rem;
    vertical-align: baseline;
  }
  .sidebar-title:not(.page-navigation .sidebar-title) {
    margin-left: -25px;
    padding-bottom: 0.75em;
  }
  .sidebar-subtitle + strong  {
    font-size: 16px;
  }
  #quarto-sidebar>* {
     border-top: 1px solid #007bc2;
     margin-top: 1.4em;
     padding: 1.5em 0.75em;
  }
}

.sidebar nav#TOC ul > li > ul > li > a.active {
  border-left: 1px solid #007bc2;
  color: #007bc2 !important;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  border-left: 1px solid #007bc2;
  color: #007bc2 !important;
}



@media only screen and (max-width:991px) {
  nav#quarto-sidebar {
    padding-right: 3px;
  }
}


.sidebar-item {
    margin-bottom: 0.3em;
}

#quarto-sidebar strong {
   font-weight: 600;
}


div.sidebar-item-container .active,
div.sidebar-item-container .show > .nav-link,
div.sidebar-item-container .sidebar-link > code {
  color: #007bc2;
}

.navbar-brand {
  font-size: 0.95rem;
  margin-bottom: -4px;
}

.navbar-brand > img {
  max-height: 32px;
}

.navbar-title {
  display: none;
}

.hero-banner {
  position: relative;
  /* background-color: rgb(237, 243, 249); */
  /* display: flex; */
  justify-content: center;
}

.hero-banner h1 {
  color: #39729e;
  font-size: 2.5rem;
}

.get-started-box {
  background: #f0f0f0;
  border-radius: var(--container-roundness);
  padding: 0 1.5rem;
}

.get-started-box h4 {
  font-weight: bold;
  font-size: 1.5;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  margin-top: -3px;
}
a.quarto-navigation-tool {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

// Customization for line-highlight extension.


div.sourceCode.cell-code pre code.has-line-highlights > span.highlight-line {
  font-weight: bold;
}

/* for source-line-numbers */
div.sourceCode.cell-code:hover
  pre
  code.has-line-highlights
  > span:not(.highlight-line) {
  opacity: 1;
}

div.sourceCode.cell-code:hover
  pre
  code.has-line-highlights
  > span.highlight-line {
  font-weight: bold;
}

// New shiny-dev-center css

// text links have different underline

main.content a:not(.btn) {
  transition: border-bottom-color 0.2s;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

main.content
  a:hover:not(.component-list-header-text):not(.btn):not(.gallery-entry a):not(a img):not(
    .text-decoration-none
  ):not(.gallery-meta):not(.link-cards a):not(.dont-index a):not(.anchorjs-link) {
  border-bottom: 1px solid;
}

a.external:after {
  background-image: url(images/arrow-up-right.svg);
  margin-bottom: 0.05em;
  transition: all 0.2s;
}
a.external:hover::after {
  background-image: url(images/arrow-up-right-hover.svg);
}

a:hover code {
  border-bottom: 0px !important;
  text-decoration: underline;
}

table a {
  border-bottom: none !important;
}

// space before content of a page

#quarto-content > * {
  padding-top: 40px;
}

@media only screen and (max-width: 991px) {
  #quarto-content > * {
    padding-top: 20px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.2px;
}

.lead {
  font-weight: 400;
}

// lil blue for an hr

hr.blue {
  color: $blue;
  opacity: 1;
}

// Centers and fills a background image to container size

.section-background {
  background-size: cover;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

// navbar transition on scroll up

.headroom-target,
header.headroom {
  will-change: transform;
  transition: position 140ms linear;
  transition: all 140ms linear;
}

#quarto-header.headroom--top {
  box-shadow: none;
}

// make logo a bit bigger
.navbar-logo {
  max-height: 35px;
}
@media only screen and (min-width: 992px) {
  // make navbar links a bit smaller on desktop
  .navbar .nav-link {
    font-size: 0.88rem;
  }
}

// smaller search icon
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  width: 22px;
  height: 22px;
}

// mobile navbar

@media only screen and (max-width: 991px) {
  .navbar .navbar-toggler {
    order: 0;
    margin-right: initial;
  }

  #quarto-search {
    margin-left: auto;
  }

  #quarto-search .aa-Autocomplete {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand-container {
    margin-right: auto;
  }

  .navbar-toggler {
    padding: 0.25rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
  }

  .aa-DetachedSearchButtonIcon {
    line-height: 20px;
  }
}

// tweaking font-size in template classes

.p-95 {
  font-size: 95% !important;
}

.p-90 {
  font-size: 90% !important;
}

.p-85 {
  font-size: 85% !important;
}

.p-80 {
  font-size: 80% !important;
}

.p-75 {
  font-size: 75% !important;
}

.p-70 {
  font-size: 70% !important;
}

.p-65 {
  font-size: 65% !important;
}

.p-60 {
  font-size: 60% !important;
}

.p-55 {
  font-size: 55% !important;
}

// tweaking font-weight in template classes

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

// additional spacing classes

.my-6 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

// background colors (primarily for sections)

.bg-gray {
  background-color: $gray-100 !important;
}

.bg-blue {
  background-color: tint-color($blue, 95%);
}

.bg-blue a:not(.btn),
.bg-gray a:not(.btn) {
  color: #0075b9;
}

// show only on mobile

@media only screen and (max-width: 991px) {
  .desktop {
    display: none !important;
  }

  .desktop-inline {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }
}

// show only on desktop

@media only screen and (min-width: 992px) {
  .desktop {
    display: block !important;
  }

  .desktop-inline {
    display: inline-block !important;
  }

  .mobile {
    display: none !important;
  }
}

// Make external link icon white in buttons

.btn.btn-primary.external:after {
  background-image: url("images/external-link-white.svg");
}

// remove icon for external link icon

a.external.no-icon:after,
a.external.view-app:after {
  display: none;
}

// secondary navigation styling

@media only screen and (min-width: 992px) {
  ul.dropdown-menu.dropdown-menu-end.show {
    flex-direction: row;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: -0.04rem;
    font-size: 0.85rem;
    border-top: 1px solid #007bc2;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 0%;
    background-color: #007bc2;
  }

  .navbar .dropdown-item {
    padding: 0.8rem 1rem;
    color: #007bc2;
  }

  .dropdown-item:hover {
    background-color: #007bc2;
    color: white;
  }
  .dropdown-item:focus {
    background-color: #007bc2;
    color: white;
  }
}

// animate secondary menu
.dropdown-menu.dropdown-menu-end.show {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .dropdown-menu {
    border: 0px;
    margin-left: 18px;
    font-size: 85%;
  }
}

// footer styling

.nav-footer {
  color: $gray-900;
}

.nav-footer a {
  color: $gray-900;
}

.nav-footer .nav-footer-left {
  font-size: 0.75em;
}

.nav-footer .nav-footer-right {
  font-size: 1em;
}

.nav-footer-right .footer-items .nav-link {
  padding-left: 0.55em;
  padding-right: 0.55em;
}

.nav-footer-left {
  white-space: nowrap;
}

// make videos responsive

.video-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// blog and gallary cards

.blog-card .card,
.quarto-grid-item {
  transition: 0.15s ease-in-out;
  border: none;
  background: transparent;
  outline: 1pt solid transparent;
  border-radius: 3px;
}

.blog-card .card:hover,
.quarto-grid-item:hover {
  background: tint-color($gray, 96%);
  outline: 7pt solid tint-color($gray, 96%);
}

.blog-card .card-img {
  overflow: hidden;
  padding-bottom: 52.5%;
  position: relative;
  height: 0;
  background-size: contain;
  background-position: center;
}

.blog-card .card-img img {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.blog-card .card-meta,
.gallery .author {
  color: #404040;
  font-size: 0.85em;
  font-weight: 500;
}

.blog-card .card-title {
  font-size: 1.15rem;
  line-height: 1.25rem;
  font-weight: 600 !important;
}

.blog-card .gallary.card-title {
  font-size: 0.95rem;
  line-height: 1.25rem;
  font-weight: 500 !important;
}

.blog-card .card-author {
  font-size: 0.7em;
  font-weight: 600 !important;
  text-transform: uppercase;
  padding-top: 0px;
  margin-top: 30px;
  margin-bottom: 16px;
}

// link-cards

.link-cards .card {
  border: none;
  padding: 0;
}

.link-cards .card-body {
  padding: 0.5rem;
  padding-left: 0rem;
}

.link-cards .card-body ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.layout-example {
  background: $gray-500;
  color: $white;
  text-align: center;
  margin-bottom: 1em;
  font-family: $font-family-monospace;
  font-size: 0.875em;
  font-weight: 600;
  padding-top: 1em;
  border-radius: 3px;
}

.left {
  text-align: left;
  padding-left: 1em;
}

.right {
  text-align: right;
  padding-right: 1em;
}

.hello-quarto-banner h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// headers

h2,
.h2 {
  border-bottom: none;
  padding-bottom: 0.65rem;
}

// top flourish for boring pages
.quarto-title.simple {
  border-bottom: 1px solid $blue;
  padding-bottom: 1.25rem;
}

// big button links

.option .block {
  padding: 30px 30px;
  border-bottom: 2px solid transparent;
  margin-bottom: 20px;
  outline-offset: -1px;
  color: #404040;
  outline: 1px solid $gray-800;
}

.option .block img {
  max-height: 100px;
  filter: none;
  padding-bottom: 10px;
}

.option .block:hover {
  outline: 2px solid $blue !important;
  outline-offset: -3px;
  background: tint-color($blue, 97%);
  text-decoration: none;
}

.option .block:hover img {
  opacity: 1;
}

#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: flex;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  display: none !important;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents p {
  display: inline-flex;
  /*  padding-right: 10px;*/
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  /*  margin-top: 1em;*/
}

.quarto-title-meta {
  color: #404040;
}

.quarto-title-meta p:after {
  margin-left: 30px;
}

.quarto-title {
  margin-bottom: 1em;
}

.quarto-title-banner {
  margin-bottom: 0px;
}

.quarto-title-banner .quarto-title .title {
  font-weight: 500;
}

.quarto-title-banner.page-columns.page-full {
  padding-bottom: 0px;
}

.quarto-title-block.default.page-columns.page-full .description {
  padding-top: 20px;
}

// Homepage hero text color styling
@media only screen and (min-width: 992px) {
  .hero-text {
    text-align: left;
    margin-right:-3.6rem;
  }
  .carousel-caption {
    text-align: left !important;
    max-width: 350px;
  }
}

@media only screen and (max-width: 991px) {
  .hero-text {
    text-align: center;
  }
  .carousel-caption {
    text-align: center !important;
  }
  .carousel-indicators {
    width: 100%;
  }
}

div.gradient-text {
  background: linear-gradient(
    45deg,
    #505050,
    #202020,
    #202020,
    #007bc2,
    #007bc2,
    #74149c,
    #007bc2,
    #007bc2,
    #007bc2,
    #202020,
    #202020,
    #202020
  );
  background-size: 800%;
  font-weight: 900;
  font-size: 4.1rem;
  letter-spacing: -3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 30s ease-in-out infinite;
  -moz-animation: animated_text 30s ease-in-out infinite;
  -webkit-animation: animated_text 30s ease-in-out infinite;
}

@media only screen and (min-width: 1475px) {
  div.gradient-text {
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 1116px) {
  div.gradient-text {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width:767px) {
  div.gradient-text {
    font-size: 2.5rem;
  }
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0px 50%;
  }
}

// center columns of different sizes

.col-500-centered {
  display: grid;
  grid-template-columns: 500px;
  justify-content: center;
}

.col-50-centered {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
}

.col-75-centered {
  display: grid;
  grid-template-columns: 75%;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .col-500-centered,
  .col-50-centered,
  .col-75-centered {
    grid-template-columns: 100%;
  }
}

// header icon placement

h2 img.header-icon {
  height: 30px;
  margin-top: -5px;
  padding-right: 4px;
}

// header underlines

h2.header-yellow {
  border-bottom: 1px solid $yellow;
  padding-bottom: 1rem;
}

h2.header-orange {
  border-bottom: 1px solid $orange;
  padding-bottom: 1rem;
}

h2.header-green {
  border-bottom: 1px solid $green;
  padding-bottom: 1rem;
}

h2.header-indigo {
  border-bottom: 1px solid $indigo;
  padding-bottom: 1rem;
}

// hide description from all pages

.quarto-title-banner .description,
.quarto-title-block .description {
  display: none;
}

// style code chunks

div.sourceCode,
pre.console {
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px solid rgba(233, 236, 239, 0.9);
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 10%), 0px 3px 7px rgb(0 0 0 / 10%),
    0px 12px 30px rgb(0 0 0 / 8%);
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding: 0.25rem;
}

.shadow img {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 10%), 0px 3px 7px rgb(0 0 0 / 10%),
    0px 12px 30px rgb(0 0 0 / 8%);
}

code.sourceCode,
pre.console code {
  padding: 0.5rem;
}

// make browser hand show when hovering over accordion link-cards

.sidebar-item-container:hover a {
  cursor: pointer;
}

// remove accordion header background color when open

.accordion-button:not(.collapsed) {
  color: #202020;
  background-color: transparent;
}

// styling accordions overall

.accordion {
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
}

.accordion-button:not(.collapsed) {
  color: $body-color;
  background-color: transparent;
  box-shadow: none;
}

// make active link in sidebar more noticable

div.sidebar-item-container .active,
div.sidebar-item-container .show > .nav-link,
div.sidebar-item-container .sidebar-link > code {
  font-weight: 600;
  color: $gray-800;
}

// gallery article styling

.gallery p.author:before {
  content: "BY: ";
}

.gallery p.author {
  white-space: nowrap;
  line-height: 50px;
}

.gallery .secondary {
  font-size: 0.7em !important;
  line-height: 40px;
  text-decoration: none;
}

.gallery-meta {
  font-size: 0.8em;
  font-weight: 600 !important;
  text-transform: uppercase;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
  color: $dark;
  margin-right: 28px;
}

.gallery-meta:first-of-type::before {
  margin-right: 20px;
}

a.gallery-meta {
  white-space: nowrap;
}

.shiny-app-frame {
  position: fixed;
  left: 0;
  top: 90px;
  bottom: 0;
  right: 0;
}

.shiny-app-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.gallery footer {
  display: none;
}

.gallery-card .card-img img {
  object-position: top;
}

// Callouts
.callout.callout-style-default > div.callout-header {
  padding-left: 0.65em;
}
.callout.callout-style-default div.callout-body {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.callout.callout-style-default div.callout-body > :first-child {
  margin-top: 0.8em;
}

// Simpler Callouts

.callout.callout-style-simple.callout-note.no-icon.callout-titled {
  border: 1px solid #dee2e6;
}

// responsive container for tables on smallest screens

@media only screen and (max-width: 500px) {
  .table {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.table-striped tr:nth-of-type(odd):not(tr.header) {
  background-color: tint-color($blue, 95%);
}

.table-striped .table > :not(caption) > *:not(:last-child) > * {
  border-bottom-color: tint-color($blue, 85%);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

// more spacing in table cells

.table-spacing-md .table > :not(caption) > * > * {
  padding: 0.75rem;
}

.table-spacing-lg .table > :not(caption) > * > * {
  padding: 1rem;
}

// Special colwidths for generated shiny reference tables
.shiny-version-table .table td {
  width: 33%;
}

// tables without borders
.table-simple {
  border: none !important;
}

// figure captions
.panel-caption,
caption,
.figure-caption {
  font-size: 0.85rem;
  text-align: center;
}

// mobile breadcrumbs

.quarto-secondary-nav nav.quarto-page-breadcrumbs {
  color: $gray-800;
}
// avoid scss btn padding for mobile secondary breadcrumb nav icons

.quarto-secondary-nav .quarto-btn-toggle.btn {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

// make :focus-visible fully visible on mobile click

@media only screen and (max-width: 991px) {
  .navbar-nav.navbar-nav-scroll li {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  ul.navbar-nav.navbar-nav-scroll {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  ul.navbar-nav.navbar-nav-scroll .dropdown-menu {
    text-align: center;
  }
  ul.navbar-nav .dropdown-item {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

// View app meta for anywhere

.view-app {
  color: #202020 !important;
  display: inline-block;
  font-weight: 600 !important;
  font-size: 0.7em !important;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-right: 6px;
  padding-top: 0px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.2s;
}

.view-app:hover {
  color: $primary !important;
}

.view-app:before {
  font-family: bootstrap-icons !important;
  content: "\f302";
  padding-right: 0.35rem;
  font-weight: normal;
  line-height: 1;
  vertical-align: -0.125em;
}

// View source-code meta for anywhere

.source-code {
  color: #202020 !important;
  display: inline-block;
  font-weight: 600 !important;
  font-size: 0.7em !important;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-right: 6px;
  padding-top: 0px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.2s;
}

.source-code:hover {
  color: $primary !important;
}

.source-code:before {
  font-family: bootstrap-icons !important;
  content: "\f2c6";
  padding-right: 0.35rem;
  font-weight: normal;
  line-height: 1;
  vertical-align: -0.125em;
}

//homepage featured sections

.feature-section {
  border-top: 4px solid $blue;
  font-weight: 500;
}

.feature-section h3,
.feature-section .h3,
.feature-section h4,
.feature-section .h4 {
  margin-top: 1.125rem;
  font-weight: 700;
  font-size: 2rem;
}

.feature-section p:first-of-type {
  margin-top: 0;
}

.feature-section p {
  line-height: 1.6rem;
}

.hero-image {
  margin-top: -110px;
  z-index: 1;
  max-width: 1500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 0.7;
}

@media only screen and (max-width: 991px) {
  .hero-image {
    margin-top: -30px;
  }
}


// Highlight links in code for parameters
code .parameter-annotation a,
code .parameter-default a {
  color: $link-color;
}

// badge shenanigans
.badge {
  padding: 0.675rem 2rem;
}

.badge a:hover {
  text-decoration: underline !important;
  border-bottom: none !important;
}

// Make dropdown links dark text in nav, white on hover
@media only screen and (min-width: 992px) {
  .navbar .dropdown-item {
    color: $body-color;
  }
  .navbar .dropdown-item:hover {
    color: $white;
  }
}

// match mobile nav styles with dropdown
@media only screen and (max-width: 991px) {
  .navbar-nav .dropdown-menu,
  .navbar-nav .dropdown-menu a:focus {
    background-color: inherit;
  }
  .navbar-nav .dropdown-menu a {
    color: $white;
  }
  .navbar-nav .dropdown-menu a:hover {
    background-color: inherit;
  }
}
// Homepage Carousel

div.hero-carousel {
  margin-right: -230px;
  margin-top: -35px;
  padding-left: 3.6rem;
}

@media only screen and (max-width: 991px) {
  div.hero-carousel {
    margin-right: initial !important;
    margin-top: initial !important;
    padding-left: 0px;
  }
}

.carousel-item img {
  width: 780px;
}

@media only screen and (max-width: 991px) {
  .carousel-item img {
    width: 100%;
  }
}

.carousel-dark .carousel-caption {
  color: #404040;
}

.carousel-caption {
  position: absolute;
  bottom: -2.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: left;
  font-size: 80%;
  right: 0;
  left: 0;
}


.carousel-indicators {
  right: auto;
  bottom: -50px;
  left: 0;
  margin-bottom: 1rem;
  margin-left: 0.9rem;
}

@media only screen and (max-width: 991px) {
  .carousel-indicators {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

// Shiny Components library
 
// Replicate Action Buttons

btn.action-button {
  color:#404040;
  border:1px solid #404040;
  padding: .75em 2em;
}

btn.action-button:hover {
  color: #fff;
  background-color: #404040;
  border-color: #404040;
}


