/*Make code in Relavent Functions wrap*/

#relevant-functions ul li code {
  white-space: normal;
}

/* make space for sidebar icons */

@media only screen and (min-width: 992px) {
  #quarto-sidebar > * {
    padding: 1.5em 0.75em 1.5em 2em;
    margin-right: 1.5em;
  }
}

/*remove extra space under header*/

#title-block-header {
  margin-block-end: 0px;
}

/* list page styling */

.list-section {
  border-top: 1px solid #cdd4da;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.component-list-column {
  padding-top: 1rem;
}

.component-list-card {
  box-shadow: 0px 1px 2px rgba(29, 31, 33, 0.1),
    0px 2px 3px rgba(29, 31, 33, 0.1), 0px 3px 8px rgba(29, 31, 33, 0.1);
  border-radius: 10px;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.component-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.component-list-header a {
  cursor: pointer;
}

.component-list-header-text h5 {
  margin-bottom: 0.15rem;
}
.component-list-header-text,
.component-list-icon a {
  text-decoration: none;
  color: #212529;
}

.component-list-icon a {
  font-size: 1.25em;
}

.component-list-header-text a {
  margin-bottom: 0px;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-bottom: none;
}
.component-link-icon {
  margin: 0 0.25em 0.25em 0;
  white-space: nowrap;
}

a .component-link-icon:after {
  content: "\F134";
  font-family: "bootstrap-icons";
  transition: all 0.3s !important;
}

a:hover .component-link-icon:after,
a.component-list-header-text:hover
  ~ div.component-list-icon
  p
  a
  i.component-link-icon:after {
  content: "\F133";
  font-family: "bootstrap-icons";
}

.component-list-header-text:hover {
  color: #000000;
}

.layout-list-card {
  align-content: flex-start;
  justify-content: space-evenly;
  overflow: hidden;
}
/* Hero area of list page */

@media only screen and (max-width: 767px) {
  .components-hero-img-container {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .components-hero-img-container {
    text-align: right;
  }
}
@media only screen and (min-width: 768px) {
  .components-hero-img {
    width: 450px;
    margin-left: -80px;
  }
  .hero-area {
    height: 373px;
  }
}
@media only screen and (min-width: 992px) {
  .components-hero-img {
    margin-left: -60px;
    width: 650px;
  }
  .hero-area {
    height: 500px;
  }
  .components-hero-img-container {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    margin-right: -2.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .components-hero-img {
    margin-left: -60px;
    width: 550px;
  }
  .components-hero-img-container {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    margin-right: -2.5rem;
    margin-left: -1.5rem;
  }
}

@media only screen and (min-width: 1350px) {
  .components-hero-img {
    margin-left: -60px;
    width: 650px;
  }
  .components-hero-img-container {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    margin-right: -2.5rem;
    margin-left: 1.5rem;
  }
}

code.sourceCode,
pre.console code {
  padding: 0.25rem 1rem 0.25rem 0.25rem;
}

.code-with-filename div.sourceCode,
.reveal .code-with-filename div.sourceCode {
  margin-top: 0px;
  margin-bottom: 1em;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.component-hr:last-of-type {
  display: none;
}

.first-component:first-of-type {
  padding-top: 2.2rem !important;
}

.code-with-filename .code-with-filename-file,
.code-with-filename .code-with-filename-file pre {
  background-color: #007bc2;
  border: 1px solid #007bc2;
  color: #ffffff;
}

.code-with-filename .code-with-filename-file {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 3px 7px rgba(0, 0, 0, 0.1),
    0px 12px 30px rgba(0, 0, 0, 0.08);
}

main a.nav-link {
  color: #343a46;
}

main a.nav-link:hover {
  color: #1d1f21;
}

.iframe-border {
  border: 1px solid #e9ecef;
  border-radius: 10px;
}
