/*

The Layouts list page (/layouts/index.qmd) gets styling primarily from /components/_partials/components-list.css, with some additional styling here.

*/


/* Layouts list page background colors */
 
#quarto-content {
  background: linear-gradient(175deg,
  rgba(250, 250, 250, 1),
  rgba(248, 248, 248, 1),
  rgba(75, 0, 193, .02), /* indigo */
  rgba(75, 0, 193, .02), /* indigo */
  rgba(116, 20, 156, .02), /* purple */
  rgba(116, 20, 156, .02), /* purple */
  rgba(191, 0, 127, .02), /* pink */
  rgba(191, 0, 127, .02), /* pink */
  rgba(193, 0, 0, .02), /* red */
  rgba(193, 0, 0, .04) /* red */
  100%);
}


/* List page card image sizing */

.layout-list-card  {
  overflow: hidden;
  padding-bottom: 52.5%;
  position: relative;
  height: 0 !important;
  background-size: contain;
  background-position: center;
}
.layout-list-card img {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
}

