/*

The /components/ section is made up of a list page and artcle pages.

The components list page (/components/index.qmd) gets styling from /components/_partials/components-list.css.

The article pages (/components/_____/index.qmd) get styling from here.

*/

/* make space for sidebar icons */

@media only screen and (min-width: 992px) {
  #quarto-sidebar > * {
    padding: 1.5em 0.75em 1.5em 2em;
    margin-right: 1.5em;
  }
}

/* Add rule and spacing between sections */

/* remove extra space below tab content section */
.tab-content {
  margin-bottom: 0;
  padding-bottom: 0;
}

section.level2:not(:first-child) h2, section.level2.kitchensink h2, section.level3:not(:first-child) h2 {
  border-top: 1px solid var(--bs-primary);
  padding-top: 4rem !important;
  margin-top: 4rem !important;
}

section.level2:not(:first-child) > :last-child, section.level3:not(:first-child) > :last-child {
  margin-bottom: 0;
}
 
/*Make code in Relavent Functions wrap*/

#relevant-functions ul li code {
  white-space: normal;
}

/*remove extra space under header*/

#title-block-header {
  margin-block-end: 0px;
}

.component-hr:last-of-type {
  display: none;
}

.first-component:first-of-type {
  padding-top: 2.2rem !important;
}

.code-with-filename .code-with-filename-file,
.code-with-filename .code-with-filename-file pre {
  background-color: #007bc2;
  border: 1px solid #007bc2;
  color: #ffffff;
}

.code-with-filename .code-with-filename-file {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 3px 7px rgba(0, 0, 0, 0.1),
    0px 12px 30px rgba(0, 0, 0, 0.08);
}

main a.nav-link {
  color: #343a46;
}

main a.nav-link:hover {
  color: #1d1f21;
}

.iframe-border {
  border: 1px solid #e9ecef;
  border-radius: 10px;
}

.scale-iframe iframe {
  transform: scale(var(--scale-factor));
  width: calc(1 / var(--scale-factor) * 100%);
  height: calc(1 / var(--scale-factor) * 100%);
  transform-origin: top left;
}

.shinylive-python code {
  visibility: hidden;
  height: 200px;
}
