
<% for (const item of items) { %>

<div class="g-col-md-4 g-col-sm-6 g-col-12 pt-3">
<div class="d-flex justify-content-between align-items-end mb-2">

<h5 class="mb-0 mt-1"><%= item.title %></h5>

<p class="my-0 text-nowrap p-90"><a href="<%= item.path %>">Details <i class="bi bi-arrow-right-short"></i></a></p>
</div>

<div style="height:152px;background-color: #ffffff; border:1px solid #ddd;display:flex;justify-content: center;align-content: center;flex-wrap: wrap;">
<%= item.preview %>
</div>
</div>

<% } %>
