<!-- relevant functions -->

## Relevant Functions {.mt-5}

```{=html}
<ul>
  <% for (const item of items) { %>
  <li>
    <p>
      <a href="<%= item.href %>"><%= item.title %></a>
      <% if (item.signature) { %>
      <br>
      <code style="text-wr"><%= item.signature %></code>
      <% } %>
    </p>
  </li>
  <% } %>
</ul>
```
