<!-- relevant functions -->

## Relevant Functions 

```{=html}
<ul>
  <% for (const item of items) { %>
  <li>
    <p>
      <a href="<%= item.href %>"><%= item.title %></a>
      <% if (item.signature) { %>
      <br>
      <code style="text-wrap: wrap;"><%= item.signature %></code>
      <% } %>
    </p>
  </li>
  <% } %>
</ul>
```
