:host {
  display: inline-block;
  height: 150px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-width: 250px;
}
